@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Manrope:wght@300;400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Noto Serif", serif;
  --font-body: "Manrope", sans-serif;
  
  --color-primary: #735c00;
  --color-primary-container: #d4af37;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #554300;
  
  --color-surface: #f9f9f9;
  --color-on-surface: #1a1c1c;
  --color-surface-bright: #f9f9f9;
  --color-surface-container-low: #f3f3f3;
  --color-surface-container-lowest: #ffffff;
  
  --color-outline: #7f7663;
  --color-outline-variant: #d0c5af;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-body antialiased;
  }
}

@layer utilities {
  .gold-gradient {
    background: linear-gradient(135deg, #735c00 0%, #D4AF37 100%);
  }
  
  .ghost-border {
    border: 1px solid rgba(208, 197, 175, 0.4);
  }
}
